<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>ORDERS:</h1>
    <ol>
      {% for order in order_list %}
      <li>
        <p>
          Book Title:
          <a href="orders/{{order_list.index(order)}}">{{order.book_title}}</a>
          <br />
          Order date: {{order.order_date}}
        </p>
      </li>
      {% endfor %}
    </ol>
  </body>
</html>
